<a href="#">
	<h3 onclick="toggle_visibility('category_balls')">&#9654; Tennis Balls</h3>
</a>
<div id="category_balls" class="products">
	<div class="product">
		<img src="http://assets.academy.com/mgen/80/10070580.jpg" alt="Penn Championship XD 3 Pack" class="product_img">
		<p class="product_name">Penn Championship XD 3 Pack</p>
		<p class="product_price">$3</p>
	</div>
	<div class="product">
		<img src="http://ecx.images-amazon.com/images/I/51nXPhlOcrL._SY300_.jpg" alt="Penn Championship Extra Duty 12 Pack" class="product_img">
		<p class="product_name">Penn Championship Extra Duty 12 Pack</p>
		<p class="product_price">$16</p>
	</div>
	<div class="product">
		<img src="http://ecx.images-amazon.com/images/I/41dDw-W2-DL._SY300_.jpg" alt="Wilson US Open Extra Duty 3 Pack" class="product_img">
		<p class="product_name">Wilson US Open Extra Duty 3 Pack</p>
		<p class="product_price">$13</p>
	</div>
	<div class="clear"></div>
</div>