<a href="#">
	<h3 onclick="toggle_visibility('category_shoes')">&#9654; Tennis Shoes</h3>
</a>
<div id="category_shoes" class="products">
	<div class="product">
		<img src="http://images.nike.com/is/image/DotCom/THN_PS/Nike-Zoom-Vapor-9-Tour-Mens-Tennis-Shoe-488000_160_A.jpg?fmt=jpg&qty=85&wid=620&hei=620" alt="Nike Men's Vapor Court" class="product_img">
		<p class="product_name">Nike Men's Vapor Court</p>
		<p class="product_price">$60</p>
	</div>
	<div class="product">
		<img src="http://www.tenniswarehouse.com.au/media/catalog/product/cache/1/image/600x/9df78eab33525d08d6e5fb8d27136e95/n/i/nike-vapor-court-womens631713-101-pv-600.jpg" alt="Nike Womens Vapor Court" class="product_img">
		<p class="product_name">Nike Womens Vapor Court</p>
		<p class="product_price">$60</p>
	</div>
	<div class="clear"></div>
</div>