<a href="#">
	<h3 onclick="toggle_visibility('category_shirts')">&#9654; Tennis Shirts</h3>
</a>
<div id="category_shirts" class="products">
	<div class="product">
		<img src="http://www.acasports.co.uk/images/products/full/under-armour-cold-gear-mock-short-sleeve-white.jpg" alt="Under Armour Short Sleeve" class="product_img">
		<p class="product_name">Under Armour Short Sleeve</p>
		<p class="product_price">$20</p>
	</div>
	<div class="product">
		<img src="http://ecx.images-amazon.com/images/I/31iSElMqmpL._SX342_.jpg" alt="K-SWISS Women's Polo" class="product_img">
		<p class="product_name">K-SWISS Women's Polo</p>
		<p class="product_price">$35</p>
	</div>
	<div class="clear"></div>
</div>