<a href="#">
	<h3 onclick="toggle_visibility('category_bottles')">&#9654; Water Bottles</h3>
</a>
<div id="category_bottles" class="products">
	<div class="product">
		<img src="http://images.eastbay.com/pi/49973/large_wide/gatorade-32-oz-squeeze-bottle" alt="Gatorade 32 ounce Squeeze Bottle" class="product_img">
		<p class="product_name">Gatorade 32 ounce Squeeze Bottle</p>
		<p class="product_price">$20</p>
	</div>
	<div class="product">
		<img src="http://ecx.images-amazon.com/images/I/31Wvvq1BCOL._SY300_.jpg" alt="Under Armour Undeniable 32 Ounce Squeeze Bottle" class="product_img">
		<p class="product_name">Under Armour Undeniable 32 Ounce Squeeze Bottle</p>
		<p class="product_price">$12</p>
	</div>
	<div class="product">
		<img src="http://ak1.ostkcdn.com/images/products/7900924/Rubbermaid-Filter-Fresh-Water-Filtration-20-ounce-Bottles-Pack-of-6-1e08e1d4-3c7d-437d-afbb-5ae31188ef15_320.jpg" alt="Rubbermaid 20-Ounce Filtration" class="product_img">
		<p class="product_name">Rubbermaid 20-Ounce Filtration</p>
		<p class="product_price">$10</p>
	</div>
	<div class="clear"></div>
</div>