<% provide(:title, 'Products') %>

<h1>Products</h1>

<div class="list">
	<div class="category">
		<%= render 'shopping_cart/tennis_rackets' %>
	</div>
	<div class="category" >
		<%= render 'shopping_cart/tennis_balls' %>
	</div>
</div>
<div class="clear"></div>
<div class="shopping_cart">
	
</div>