<% provide(:title, 'Products') %>

<h1>Products Page</h1>

<div class="list">
	<div class="category">
		<h3>Tennis Rackets</h3>
		<div class="product">
			<img src="http://img2.targetimg2.com/wcsstore/TargetSAS//img/p/14/27/14278285_121016003000.jpg" alt="Wilson Tour Slam Adult" class="product_img">
			<p class="product_name">Wilson Tour Slam Adult</p>
			<p class="product_price">$20</p>
		</div>
		<div class="product">
			<img src="http://cdn1.fishpond.co.nz/0033/807/490/48997579/4.jpeg" alt="Penn Head Speed" class="product_img">
			<p class="product_name">Penn Head Speed</p>
			<p class="product_price">$25</p>
		</div>
		<div class="product">
			<img src="http://img1.targetimg1.com/wcsstore/TargetSAS//img/p/14/27/14278283_121016003000.jpg" alt="Wilson Hope Adult" class="product_img">
			<p class="product_name">Wilson Hope Adult</p>
			<p class="product_price">$40</p>
		</div>
		<div class="product">
			<img src="http://www.tennisexpress.com/prodimages/4090-DEFAULT-l.jpg" alt="Head Liquidmetal 4 Prestrung" class="product_img">
			<p class="product_name">Head Liquidmetal 4 Prestrung</p>
			<p class="product_price">$75</p>
		</div>
	</div>
	<div class="category">
		<h3>Tennis Balls</h3>
		<div class="product">
			<img src="http://assets.academy.com/mgen/80/10070580.jpg" alt="Penn Championship XD 3 Pack" class="product_img">
			<p class="product_name">Penn Championship XD 3 Pack</p>
			<p class="product_price">$3</p>
		</div>
		<div class="product">
			<img src="http://ecx.images-amazon.com/images/I/51nXPhlOcrL._SY300_.jpg" alt="Penn Championship Extra Duty 12 Pack" class="product_img">
			<p class="product_name">Penn Championship Extra Duty 12 Pack</p>
			<p class="product_price">$16</p>
		</div>
		<div class="product">
			<img src="http://ecx.images-amazon.com/images/I/41dDw-W2-DL._SY300_.jpg" alt="Wilson US Open Extra Duty 3 Pack" class="product_img">
			<p class="product_name">Wilson US Open Extra Duty 3 Pack</p>
			<p class="product_price">$13</p>
		</div>
	</div>
</div>